{{#if userInSession}}
   
    <h1>My dashboard </h2>

{{!-- TODO --}}
{{!-- proposition to check --}}
{{!-- proposition ongoing --}}

    <h2>My points </h2>
    <p>{{ userInSession.points}}</p>
    
    <h2>My requests</h2>

    

    <h2>Propositions to check</h2>
    <ul>
    {{#each offers}}
    <form action="" >
    <li>
        <p>From (authorId): {{this.authorId}}</p>
        <p>For (postId): {{this.postId}}</p>
        <p>Messages: {{this.messages}}</p>
        <p>Status: {{this.status}}</p>
        <input type="radio" name="response" value="accepte">Accept
        <input type="radio" name="response" value="decline">Decline
        <button>Send</button>
    </li>
    {{/each}}
    </form>
    </ul>
    
    


    <button>
        <a href="/profile/myprofile">Go back to my profile</a>
    </button>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}

