<div class ="dashboard">

{{#if userInSession}}
    <div id="dashboardheader">
    <h1>My dashboard </h2>
    <h2>My flowers: {{ userInSession.mypoints}}</h2>
    </div>
    <section class ="myrequests">
        
        <div class ="requestpart">
            <h2>My requests</h2>
            <ol>
            {{#each requests}}
            <li>
                <p>Send to (creatorId): <a href="/profile/{{creatorId.id}}" target="blank">{{this.creatorId.username}}</a></p>
                <p>For (postId): <a href="/posts/{{postId.id}}" target="blank">{{this.postId.title}}</a></p>
                <p>
                {{#if alreadyanswered}}
                    {{#if goodToExchangeChoosed}}
                        <p>Offer: <a href="/posts/{{this.goodToExchange.id}}" target="blank">{{this.goodToExchange.title}}</p>
                    {{/if}}

                    {{#if flowerChoosed}}
                        <p>Offer: {{this.pointsEstimate}} flowers</p>
                    {{/if}}
                {{else}}
                    <p>Offers:
                        {{#if goodToExchangeChoosed}}
                        <a href="/posts/{{this.goodToExchange.id}}" target="blank">{{this.goodToExchange.title}}</a>
                    {{else}}
                        Nothing
                    {{/if}}
                        Or {{this.pointsEstimate}} flowers

                    </p>
                {{/if}}
                </p>
                <p>Message: {{this.messages}}</p>
                <p>Status: {{this.status}}</p>
                
                {{#unless this.alreadyanswered }}
                <a href="/posts/{{this.id}}/editoffer">Edit</a>
                <form action="/posts/{{this.id}}/deleteoffer" method="POST">
                <button>Cancel</button>
                </form>
                {{/unless}}
            </li>
            {{/each}}
            </ol>
        </div>
        <div class="propositionpart">

            <h2>Propositions to check</h2>
            <ol>
            {{#each propositions}}
            <li>
                <p>From: <a href="/profile/{{authorId.id}}" target="blank">{{this.authorId.username}}</a></p>
                <p>For (postId): <a href="/posts/{{postId.id}}">{{this.postId.title}}</a></p>
                {{#if alreadyanswered}}
                    {{#if goodToExchangeChoosed}}
                        <p>Offer: <a href="/posts/{{this.goodToExchange.id}}" target="blank">{{this.goodToExchange.title}}</p>
                    {{/if}}

                    {{#if flowerChoosed}}
                        <p>Offer: {{this.pointsEstimate}} flowers</p>
                    {{/if}}
                {{/if}}
                
                <p>Messages: {{this.messages}}</p>
                <p>Status: {{this.status}}</p>
                {{#unless this.alreadyanswered }}
                <form action="/offers/{{this.id}}/response" method="POST">
                    <p>
                        <label>Offers: 
                            {{#if goodToExchangeChoosed}}
                            <input type="radio" name="offer" value={{this.goodToExchange.id}}><a href="/posts/{{this.goodToExchange.id}}" target="blank">{{this.goodToExchange.title}}</a>
                            {{else}}
                            <input type="radio" name="offer" value="nothing">Nothing
                            {{/if}}
                            <input type="radio" name="offer" value={{this.pointsEstimate}}> {{this.pointsEstimate}} flowers
                       </label> 
                    </p>
                    <p>
                        <label>
                            Your reponse:
                            <input type="radio" name="response" value="accepte">Accept
                            <input type="radio" name="response" value="decline">Decline
                        </label>
                    </p>
                    <p><button>Send</button></p>
                </form>
                {{/unless}}
            </li>
            {{/each}}
            </ol>
        </div>
    </section>

        <div id="endlink">
                <a href="/profile/myprofile">Go back to my profile</a>
            {{else}}
                <p>Still no logged in user, sorry!</p>
                <a href="/login">Please log in to see your profile</a>
            {{/if}}
        </div>
    
</div>
