{{#if userInSession}}

<h2>Edit {{userInSession.username}} profile info </h2>

<form action="/profile/myprofile-edit" method="POST" enctype="multipart/form-data">
<p>
    <label>
      My photo
      <input type="file" name="photo" value="{{userInSession.myphoto}}">
    </label>
</p>
<p>
    <label>
      City
      <input type="text" name="city" placeholder="Your city" value="{{userInSession.city}}"/>
    </label>
</p>
<p>
    <label>
      Description
      <textarea name="mydescription" placeholder="Your description">{{userInSession.mydescription}}</textarea>
    </label>
</p>
  <button>Update my profile</button>
</form>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}