<div class="profile"> 
  <section class="usersinfo">
    <div id ="leftpart">
      <img src="{{user.myphoto}}" alt>
    </div>

    <div id="rightpart">
      <h2>{{user.username}}</h2>
      <p> {{ user.city }}</p>
          <h2>Description</h2>
          <p>{{ user.mydescription}}</p>
          <h3>Total of transactions : {{ user.transactions}}</h3>
          
    </div>
  </section>

  <section class ="listposts">
        <h2>Posts</h2>
    <ul>
    {{#each posts}}
    <li>
      <img src="{{this.picURL}}" style="width: 300px;">
      <h1>{{this.title}}</h1>
      <p>Posted at: {{this.createdAt}}</p>
      <p>
        <a href="/posts/{{id}}">See details</a>
      </p>
    </li>
    {{/each}}
    </ul>
</section>

</div>