<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Back to life</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  
  <header>
    <div id="navbar"> 
      <a href="/"><img class="logo" src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/flower_km7avz.png" alt="logo" /></a>
      <span>BackToLife</span>
    </div>
      <nav>
        <ul>
          <li><a href="/#howcontainer">How does it work?</a></li>
          <li><a href="/posts/new">Post an offer</a></li>
          <li><a href="/posts/categories">Categories & Posts</a></li>
          <li><a href="/profile/myprofile">My profile</a></li>
          <div class ="navlogbuttons">
            <li>
              {{#if userInSession}}
                <form id="logout-form" action="/logout" method="POST">
                  <span>Welcome <span style="font-weight: bold;">{{userInSession.username}}</span> !!!</span>
                  <button>Logout</button>
                </form>
              {{else}}
                <a href="/signup">Signup</a> <span> | </span>
                <a href="/login">Login</a> 
              {{/if}}
            </li>
          </div>
        </ul>
      </nav>
  </header>
    {{!-- <div>
      {{#if user}}
            <form id="logout-form" action="/logout" method="POST">
              <p>Welcome {{ userInSession.username }}!</p>
              <button>Log out</button>
            </form>
        {{else}}
           <a href="/signup">Sign up </a><a href="/login">/ Log in</a>
        {{/if}}
    </div> --}}

  {{{body}}}

<footer>
      {{!-- <p>FOOTER</p> --}}
  <div class="footerlinks">
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/posts/new">Post an offer</a></li>
      <li><a href="/posts/categories">Categories & Posts</a></li>
      <li><a href="/aboutus">About us</a></li>
      <li><a href="/aboutus">Help</a></li>
    </ul>
  </div>

  <div class="footersociallinks">
 
      <a href="https://www.facebook.com/"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/facebook_yccxmd.png" alt ="facebook logo"></a>
      <a href="https://www.twitter.com/"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751701/project2-upload/twitter_znxavt.png" alt ="twitter logo"></a>
      <a href="https://www.instagram.com/"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/instagram_rxqpxe.png" alt ="instagram logo"></a> 

  </div>

  <div class="footersignature">
    <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751700/project2-upload/flower_km7avz.png" alt ="logo" href="/">
    <span>©TeamIronJS, 2020</span>
  </div>

</footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>