<div class ="categoriespage">
  
  <section class ="searchsection">

    <h1>I am looking for</h1>

    <form id="searchform" action="" method="GET">
      {{!-- <div class ="searchtypeinput"> --}}
        <input type="text" name="search" placeholder="Type here"></input>
      {{!-- </div> --}}

      {{!-- <div class ="searchselectcat">   --}}
        <select name="categories">
          <option value="">--Please choose a category--</option>
          <option value="dressing">Dressing</option>
          <option value="books/cds">Books/CDs</option>
          <option value="services">Services</option>
          <option value="beauty">Beauty</option>
          <option value="IT">IT</option>
        </select>
      {{!-- </div> --}}
      {{!-- <select name="type">
        <option value="good">A good</option>
        <option value="service">A service</option>
      </select> --}}
      {{!-- <div class ="searchcityinput"> --}}
        <input type="text" name="city" placeholder="City"></input>
      {{!-- </div> --}}

      <input id = "submitloop" type="image" src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751701/project2-upload/search_1_rlbcym.png" alt="Submit" >
      {{!-- <button> <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751701/project2-upload/search_1_rlbcym.png" alt="searchicon">SEARCH</button> --}}

    </form>

    <section class="categoriesdisplay">

      <div class="categoriescontainer">

        <article class="catdressing categoriesboxes">
          <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/dressing_lbsxgt.jpg" alt="dressingpic"></a>
          <p>DRESSING</p>
        </article>

        <article class="catservices categoriesboxes">
          <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744998/project2-upload/services_yypxvr.jpg" alt="servicepic"></a>
          <p>SERVICES</p>
        </article>

        <article class="catbooks categoriesboxes">
          <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/book_drm0ph.jpg" alt="bookspic"></a>
          <p>BOOKS/CDs</p>
        </article>

        <article class="catbeauty categoriesboxes">
          <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/beauty_istlqk.jpg" alt="beautypic"></a>
          <p>BEAUTY</p>
        </article>

        <article class="catit categoriesboxes">
          <a href="/posts/categories"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/it_u8k2d4.jpg" alt="itpic"></a>
          <p>IT</p>
        </article>

      </div>
    </section>
</section>

<section class ="results">
  
    <h1>Results</h1>

  <div class ="postcard">

  <div class="column1">column 1</div>
{{#if posts}}
    <ul>
    {{#each posts}}
    <li>
      {{!-- <li>{{@index}}: {{this}}</li> --}}
      <div class ="postcardleft">
        <img src="{{this.picURL}}">
      </div>

      <div class ="postcardright">
        <h2>{{this.title}}</h2>
        <p>
          <a href="/posts/{{id}}">See details</a>
        </p>
        <p id = "creationdate" >Posted at: {{this.createdAt}}</p>
      </div>

        
    </li>
    {{/each}}
    </ul>
    {{else}}
    <p>There is no result!</p>
    {{!-- <a href="/posts/categories">Back to categories</a> --}}
    {{/if}}

  <div class="column2">column 2</div>


    {{#if posts}}
    <ul>
    {{#each posts}}
    <li>
      <div class ="postcardleft">
        <img src="{{this.picURL}}">
      </div>

      <div class ="postcardright">
        <h2>{{this.title}}</h2>
        <p>
          <a href="/posts/{{id}}">See details</a>
        </p>
        <p id = "creationdate" >Posted at: {{this.createdAt}}</p>
      </div>

        
    </li>
    {{/each}}
    </ul>
    {{else}}
    <p>There is no result!</p>
    {{!-- <a href="/posts/categories">Back to categories</a> --}}
    {{/if}}

  </div>
</section>
<a href="/posts/categories">Back to all categories & posts</a>
</div>