
<div class =" categoriespage">
  
  <section class =" searchsection">

      <h1>I am looking for</h1>
      <div class="container-fluid">
        <form id="searchform" action="" method="GET">
          <div class="row justify-content-center">
            <div class ="col-md-2 search">
                <input type="text" name="search" placeholder="Type here"></input>
            </div>

            <div class ="col-md-3 search">  
              <select name="categories">
                <option value="">--Select a category if needed--</option>  
                {{#each cats}}
                  <option value={{this.name}} {{#if selected}}selected{{/if}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class= "col-md-2 search">
              <input type="text" name="city" placeholder="City"></input>
            </div>
            <div class= "col-md-1 search">
              <input id = "submitloop" type="image" src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601751701/project2-upload/search_1_rlbcym.png" alt="Submit" >
            </div>
          </div>
        </form> 

        
      </div>

      <div class="row justify-content-center categories ">
          <div class="col-md-2.5 d-none d-sm-block">
            <article class="catdressing">
              <a href="/posts/categories?categories=Dressing"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/dressing_lbsxgt.jpg" alt="dressingpic"></a>
              <p>DRESSING</p>
            </article>
          </div>
          <div class="col-md-2.2 d-none d-sm-block">
            <article class="catservices categories">
              <a href="/posts/categories?categories=Services"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744998/project2-upload/services_yypxvr.jpg" alt="servicepic"></a>
              <p>SERVICES</p>
            </article>
          </div>
          <div class="col-md-2.2 d-none d-sm-block">
            <article class="catbooks categories">
              <a href="/posts/categories?categories=Books%2FCDs"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/book_drm0ph.jpg" alt="bookspic"></a>
              <p>BOOKS/CDs</p>
            </article>
          </div>
          <div class="col-md-2.3 d-none d-sm-block">
            <article class="catbeauty categories">
              <a href="/posts/categories?categories=Beauty"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/beauty_istlqk.jpg" alt="beautypic"></a>
              <p>BEAUTY</p>
            </article>
          </div>
          <div class="col-md-2.3 d-none d-sm-block">
            <article class="catit categories">
              <a href="/posts/categories?categories=IT"><img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601744997/project2-upload/it_u8k2d4.jpg" alt="itpic"></a>
              <p>IT</p>
            </article>
          </div>
          
        </div>     
</section>

<section class ="results">
  
    <h1>Results</h1>

  <div class ="">

  {{!-- <div class="column1">column 1</div> --}}
{{#if posts}}
    <ul> 
      <div class="container">
        <div class="row">
          {{#each posts}}
            <div class="col-lg-4">
              <a href="/posts/{{id}}">
                <li>
                  <img src="{{this.picURL.0.path}}">
          
                  <div class ="postcardtext">
                    <h2>{{this.title}}</h2>
                    <p>
                      <a href="/posts/{{id}}">See details</a>
                    </p>
                    <p id = "creationdate" >Posted at: {{this.createdAt}}</p>
                  </div>   
                </li>
              </a>
            </div>
          {{/each}}
        </div>
      </div>    
    </ul>
    
    {{else}}
    <p>There is no result!</p>
    {{!-- <a href="/posts/categories">Back to categories</a> --}}
    {{/if}}


  </div>
</section>

  <div id ="endlink">
  <a href="/posts/categories">Back to all categories & posts</a>
  </div>
</div>