<div class ="mypostedit">

{{#if userInSession}}

<h1>Edit for post: {{post.title}}</h1>

<form action="/posts/{{post._id}}/edit" method="POST" enctype="multipart/form-data">

  <p>
    CATEGORY <br>
    <select name="categories">
      
        <option value="">--Select a category--</option>  
        {{#each cats}}
          <option value={{this.name}} {{#if selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
  </p>
  
  <p>
    <label>
      TITLE <br>
      <input type="text" name="title" value="{{post.title}}"></input>
    </label>
  </p>

  <p>
    <label>
      DESCRIPTION <br>
      <textarea name="description">{{post.description}}</textarea>
    </label>
  </p>
  <p>
    <label>
      CITY <br>
      <input type="text" name="city" value="{{post.city}}">
    </label>
  </p>

  <p>
    <label>
      FLOWERS POINTS ESTIMATED <br>
      <input type="text" name="pointsEstimate" value={{post.pointsEstimate}}>
    </label>
  </p>

  {{!-- <p>
    <label class="label-file">
       <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601581026/project2-upload/photovide_utfkuw.png" alt ="nophoto">
       <span> Click here to update 2 photos max</span>
      <input class="input-file" type="file" multiple name="pic">
    </label>
  </p> --}}
  

  <p> PHOTOS (2 maximum) </p>  
    {{!-- <label for="choose-file" class="custom-file-upload" id="choose-file-label">
       <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601581026/project2-upload/photovide_utfkuw.png" alt ="nophoto">
      <span>Click here to upload photos</span>
    </label>
    <input multiple name="pic" type="file" id="choose-file"/> --}}

<div class="photoupload">
  <label for="file">
  <img src="https://res.cloudinary.com/dyybiq3aw/image/upload/v1601581026/project2-upload/photovide_utfkuw.png" alt ="nophoto">
  <span>Click here to upload photos</span>
  </label>
  <input type="file" name="pic" id="file" multiple onchange="javascript:updateList()" />
  <div id="fileList">
    <p>Selected files:</p>
  </div>
</div>


<p>
  <button>Update</button>
</p>
</form>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}

</div>