<div class ="mypostedit">

{{#if userInSession}}

<h1>Edit for: {{post.title}}</h1>

<form action="/posts/{{post._id}}/edit" method="POST">

  <p>
    CATEGORY <br>
    <select name="categories">
      
        <option value="">--Select a category--</option>  
        {{#each cats}}
          <option value={{this.name}} {{#if selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
  </p>
  
  <p>
    <label>
      TITLE <br>
      <input type="text" name="title" value="{{post.title}}"></input>
    </label>
  </p>

  <p>
    <label>
      DESCRIPTION <br>
      <textarea name="description">{{post.description}}</textarea>
    </label>
  </p>
  <p>
    <label>
      CITY <br>
      <input type="text" name="city" value="{{post.city}}">
    </label>
  </p>

  <p>
    <label>
      FLOWERS POINTS ESTIMATED <br>
      <input type="text" name="pointsEstimate" value={{post.pointsEstimate}}>
    </label>
  </p>

  {{!-- <p>
    <label>
      Picture:
      <input type="file" name="pic">
    </label>
  </p> --}}
  

  <button>Update</button>
</form>

{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}

</div>