<div class ="myoffer">

<h1>Make an offer!</h1>
<h2>For the post: {{post.title}}</h2>
<form action="/posts/{{post.id}}/offer" method="POST">
  <p>
    <label>
      Your good or service in exchange:
      <select name="goodToExchange">
        <option>--Select in what you have--</option>
        {{#each posts}}
        <option value="{{id}}">{{title}}</option>
        {{/each}}
      </select>
    </label>
  </p>
  <p>
    <label for="pointsEstimate">Or number of flowers:</label>
    <input type="text" name="pointsEstimate" id="pointsEstimate" placeholder="1,2,3"/>
  </p>
  <p>
    <label for="messages">Message:</label>
    <textarea name="messages" placeholder="Your messages..."></textarea>
  </p>
  
   
  <button type="submit">Send</button>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>

</div>