<div class ="myofferedit">

{{#if userInSession}}
<h1>Edit the offer</h1>
<h2>Send to: {{offer.creatorId.username}}</h2>
<h2>For the post: {{offer.postId.title}}</h2>

<form action="/posts/{{offer.id}}/editoffer" method="POST">
  <p>
    <label>
      Your good or service in exchange: <br>
      <select name="goodToExchange">
        <option>--Select in what you have--</option>
        {{#each posts}}
        <option value="{{id}}" {{#if inselected}} selected {{/if}}>{{this.title}}</option>
        {{/each}}
      </select>
    </label>
  </p>
   <p>
    <label for="pointsEstimate">Or number of flowers:</label>
    <input id="inputflower" type="text" name="pointsEstimate" id="pointsEstimate" value="{{offer.pointsEstimate}}"/>
  </p>
  <p>
    <label for="messages">Message:</label>
    <textarea name="messages" placeholder="Your messages...">{{offer.messages}}</textarea>
  </p>

 

  <button type="submit">Send</button>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>
{{else}}
    <p>Still no logged in user, sorry!</p>
    <a href="/login">Please log in to see your profile</a>
{{/if}}

</div>