<div id="show-post">
  
  <article>
    <img src={{post.picURL.0.path}} id='showpost-img1'>
    <img src={{post.picURL.1.path}} id='showpost-img2'>
    <img src ='../../images/previous.png'onclick="showImage()" id='showpost-previous'>
    <img src ='../../images/next.png'onclick="showImage()" id='showpost-next'>
  </article>

  

  <section>
    <div>
      <h2>{{post.title}}</h2>
      <p><span style="font-weight: bold;" >Numbers of flowers suggested:</span> {{post.pointsEstimate}}</p>
    </div>
    <hr align="left">
   
    <p id='showpost-main'><span style="font-weight: bold;" >Description:</span> {{post.description}}</p>
    {{#if showbuttonoffer}}
    <div>
      <a href="/posts/{{post.id}}/offer" id='showpost-makeoffer'>MAKE AN OFFER</a>
    </div>
    {{/if}}
    
    <hr align="left">
      
    <div id='showpost-profile-section'>
      <div>
        <img src={{userFromDb.myphoto}} alt="Photo of creator">
      </div>
      <div>
        <p>Posted by <span style="font-weight: bold;">{{userFromDb.username}}</span> at {{post.createdAt}}</p>
        <a href="/profile/{{userFromDb.id}}">See profile</a>
      </div>
      
    </div>

    <hr align="left">

    <div id="sharepost">
      <a href="/posts/{{post.id}}"></a>
      <p>Share this post with your friends</p>
      <button onclick="copyToClipboard('#sharepost')"> Click to copy URL : .../posts/{{{post.id}}}</button>
    </div>    
    

  </section>
</div>




