<div id="show-post">
  <article>
    <img src="{{post.picURL}}" style="width: 500px;">
  </article>

  <section>
    <div>
      <h2>{{post.title}}</h2>
      <p>Numbers of flowers suggested: {{post.pointsEstimate}}</p>
      <p>Description: {{post.description}}</p>
      <a href="/">Make an offer</a>
    </div>
    <div>
      <p>Posted by {{user.username}} at {{post.createdAt}}</p>
      <a href="/">Send message</a>
      <a href="/">See profile</a>
    </div>
  </section>
</div>




